/**
* Copyright AGNTCY Contributors (https://github.com/agntcy)
* SPDX-License-Identifier: Apache-2.0
**/

/* LabelIcon.css */
.label-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    overflow: hidden; /* Ensures the image stays within the circle */
    border-radius: 50%; /* Makes the icon round */
}
.label-icon-image {
    width: 80%;
    height: 80%;
}