/**
* Copyright AGNTCY Contributors (https://github.com/agntcy)
* SPDX-License-Identifier: Apache-2.0
**/

/* Cisco Sans TT Thin (100) */
@font-face {
  font-family: 'CiscoSansTT';
  src: url('https://brand-assets.security.cisco.com/fonts/CiscoSansTTThin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Cisco Sans TT Regular (400) */
@font-face {
  font-family: 'CiscoSansTT';
  src: url('https://brand-assets.security.cisco.com/fonts/CiscoSansTTRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Cisco Sans TT Bold (700) */
@font-face {
  font-family: 'CiscoSansTT';
  src: url('https://brand-assets.security.cisco.com/fonts/CiscoSansTTBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Apply CiscoSansTT font globally */
body {
  font-family: 'CiscoSansTT';
  margin: 0;
  padding: 0;
  font-weight: 100;
}

:root {
  --header-height: 11vh;         /* 60px */
  --sidebar-width: 21.875em;       /* 350px */
  --border-color: #ccc;
  --background-light: #f7f7f7;
}

/* Root layout */
.app-container {
  display: flex;
  height: 100vh;
}

/* Sidebar styling */
.sidebar {
  width: var(--sidebar-width);
  padding: 0.75em; /* 12px */
  overflow-y: hidden;
  background-color: #fff;
  position: relative; /* Required for pseudo-element positioning */
}

.sidebar::after {
  content: '';
  position: absolute;
  top: 11.25%;
  right: 0;
  width: 1px; /* Border thickness */
  height: calc(100% - 11.25%); /* Adjust height to fill from top to bottom */
  background-color: var(--border-color); /* Match border color */
}

/* Chat Container */
.chat_container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
  position: relative;
}

/* Main area container */
.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  height: var(--header-height); /* Use the defined height variable */
  color: rgba(24, 122, 220, 1);
  font-size: 2em; /* Adjust font size for appropriate visibility */
  font-weight: 300; /* Use bold font for emphasis */
  font-family: 'CiscoSansTT', sans-serif; /* Apply Cisco font */
  display: flex;
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  border-bottom: 1px solid var(--border-color); /* Optional border */
}

.graph_container {
  flex: 1;
  margin: 1.5em;                  /* 24px */
  background-color: var(--background-light);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  border-radius: 2em;           /* 8px */
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.05); /* 2px 8px */
}

.code_popup_container {
  position: absolute;
  top: 3%;
  right: 1.5%;
  z-index: 1000; /* Ensure it appears above other content */
}