/* Layout styles for the chat component */
.messages_container {
    position: relative;
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 1em;
}

.clear_chat_button_container {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: -10px;
    border: 0.1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.message_input_container {
    flex: 0 0 auto;
    height: 50px;
    margin-top: 1em; /* Scales with font size */
    margin-bottom: 0.5em; /* Scales with font size */
}
