/**
* Copyright AGNTCY Contributors (https://github.com/agntcy)
* SPDX-License-Identifier: Apache-2.0
**/

.message-container {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.message-container.ai-message {
    background: rgb(247, 247, 248);
}

.avatar-container {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-text {
    width: 80%;
    padding: 0;
    margin: 8px;
    overflow-wrap: break-word;
}

.message-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.message-input {
    width: 650px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 40px;
    outline: none;
    font-size: 14px;
    padding: 0 10px;
    font-family: inherit;
}

.icon-container {
    position: absolute;
    right: 17.5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 1;
}

.icon-container.disabled {
    cursor: text;
    opacity: 0.5;
}